<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<h1>Users New Page</h1>
<form action="/users" method="POST">
  <%- include("_userFormInputs") %>
</form>
<%- include("../partials/footer") %>