<%- include('../partials/header') %> 
  <h1>New Grams Page</h1>
  <% if (locals.errors) { %> 
    <% for (let error of errors) { %> 
      <h4 style="color: red;"><%= error %></h2>
    <% } %>
  <% } %>
  <form action="/grams" method="POST" class="container">
    <div>
      <label for="srcUrl">ImgLink</label>
      <input type="text" name="srcUrl">
    </div>
    <div>
      <label for="description">Description</label>
      <input type="textarea" name="description">
    </div>
    <div>
      <label for="price">Price</label>
      <input type="number" name="price">
    </div>
    <input type="submit">
  </form>
<%- include('../partials/footer') %>