<%- include('../partials/header') %>
<h1>Edit Event Page</h1>
<form action="/events/<%= event.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%- include('_eventFormInputs') %>
</form>
<%- include('../partials/footer') %>
