<%- include('../partials/header') %>
  <h1>Events Index</h1>
  <ul>
    <% for (let event of events) { %>
      <li>
        <h3><%= event.title %></h3>
        <p><%= event.description %></p>
      </li>
    <% } %>
  </ul>
<%- include('../partials/footer') %>