<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<style>
    /* div{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    } */
</style>
<body>
    <form onSubmit = "return checkPassword(this)"  method="POST" > 
        <div class="First_name">
          <label for="First_name"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="First_name" required>
        </div>

        <div class="Last_name">
            <label for="Last_name"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" name="Last_name" required>
        </div>

        <div class="email">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter your email here" name="email" required>
        </div>
       
        <div class="password" >
            <label for="password1"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password1" required>
        </div>
        <div class="password_confirmation">
            <label for="password2"><b>Confirm your Password</b></label>
            <input type="password" placeholder="Enter Password" name="password2" required>
        </div>
       
        <br>
        <input type="submit" value="send">
      </form>

</body>
<script>       
    function checkPassword(form) { 
        password1 = form.password1.value; 
        password2 = form.password2.value; 
        if (password1.length < 3) {
            alert ("Provide a Password with 3 or more words"); 
        }
        if (password1 != password2) { 
            alert ("\nPassword did not match: Please try again...") 
            return false; 
        }else{ 
            alert("Password Match") 
            return true; 
        } 
    } 
</script> 

</html>